* {
    font-family: calibri;
}

html, body {
    height: 100%;   
}
.main-header {
    background-color:rgb(134, 31, 31);
    padding: 20px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: pink;
}

.main-nav {
    background-color: rgb(204, 57, 81);
    padding: 20px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    margin-bottom: 10px;  
}

.main-nav > ul {
    height: 50px;
    width: 500px;
    margin: 0px auto;
}
.main-nav > ul > li {
    list-style-type: none;
    width: 150px;
    float: left;
    border: 1px solid rgb(134, 31, 31);
    text-align: center;
}
.main-nav >ul >li > a {
    text-decoration: none;
    color:pink;
    line-height: 50px;
    display: block;
}
.main-nav >ul >li > a:hover {
    background-color: pink;
    color:rgb(134, 31, 31);   
}

.card {
    background-color:rgb(134, 31, 31); 
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    margin-bottom: 10px;
}
.card-img-top {
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
}
.card-body {
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    
    background-color: rgb(134, 31, 31);
}

.card-title {
    color: pink;
    font-family: calibri;
}

.card-text {
    color: pink;
    font-family: calibri;
}

.col-4 {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.fa {
    color:rgb(204, 57, 81);
}
footer {
    background-color:rgb(134, 31, 31);
    padding: 10px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: pink;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 99;
  }

  @media (min-width: 576px) { 
    body {
       /* background-color: blue; */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body {
        /* background-color: green; */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body {
        /*background-color: black; */
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        /* background-color: yellow; */
    }
    .cards > li {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .cards > li:last-child {
        margin-right: 0px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    body {
       /* background-color: grey; */
    }
}

