* {
    margin: 0px;
    padding: 0px;
    font-family: calibri;
}
html, body {
    height: 100%;
    background-color:rgb(109, 205, 231)
}
body {
    margin: 10px;
}
.main-header {
    background-color:rgb(116, 41, 41);
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: pink;
}

.main-nav {
    background-color: rgb(204, 57, 81);
    padding: 20px;
    margin-bottom: 10px;
    height: 50px;
    
}
.main-nav > ul {
    height: 50px;
    width: 500px;
    margin: 0 auto;
}
.main-nav > ul > li {
    list-style-type: none;
    width: 150px;
    float: left;
    border: 1px solid rgb(116, 41, 41);
    text-align: center;
}
.main-nav >ul >li > a {
    text-decoration: none;
    color:pink;
    line-height: 50px;
    display: block;
}
.main-nav >ul >li > a:hover {
    background-color: pink;
    color:rgb(116, 41, 41);   
}   
}
.right-sidebar {
    background-color:rgb(19, 124, 185);
    width: 12%;
    float: right;
    height: 20%;
    box-shadow: 5px 10px rgb(6, 97, 150);
    font-size: 15px; 
    color: white;
    text-align: center;
    padding: 30px;
} 
.main-section, .main-article {
    height: 750px;
    background-color: rgb(24, 141, 187);
    width: calc(70%-10px);
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }