
html, body {
    height: 100%;   
}

.main-header {
    background-color:rgb(134, 31, 31);
    padding: 20px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: pink;
    font-family: ;
}

.main-nav {
    background-color: rgb(204, 57, 81);
    padding: 20px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    margin-bottom: 10px;
    
    
}
.main-nav > ul {
    height: 50px;
    width: 500px;
    margin: 0px auto;
}
.main-nav > ul > li {
    list-style-type: none;
    width: 150px;
    float: left;
    border: 1px solid rgb(134, 31, 31);
    text-align: center;
}

.main-nav >ul >li > a {
    text-decoration: none;
    color:pink;
    line-height: 50px;
    display: block;
}

.main-nav >ul >li > a:hover {
    background-color: pink;
    color:rgb(134, 31, 31);   
} 

.main-section {
    background-color: rgb(204, 57, 81);
    padding: 20px;
    height: 200px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    -moz-border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: pink;
} 

.left-section {
    height: 750px;
    border: 1px solid white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: rgb(243, 120, 141);
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 30px;
}

.right-quote {
    background-color:white;
    width: 100%;
    float: right;
    height: 10%;
    border: 1px solid rgb(204, 57, 81);
    border-radius: 15px;
    -moz-border-radius: 15px;
    box-shadow: 5px 10px rgb(243, 120, 141);
    font-size: 15px; 
    color: rgb(243, 120, 141);
    text-align: center;
    padding: 30px;
} 

.main-article {   
        background-color:rgb(243, 120, 141);
        width: 100%;
        float: right;
        height: 10%;
        border: 1px solid white;
        border-radius: 15px;
        -moz-border-radius: 15px;
        font-size: 20px; 
        color: white;
        text-align: center;
        margin: 20px;
        padding: 30px;
}

.fa {
    color:rgb(204, 57, 81);
}
footer {
    background-color:rgb(134, 31, 31);
    padding: 10px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: pink;
}
.carousel {
    width: 25%;
    height:auto; 
}
