* {
    font-family: calibri;
}

html, body {  
    height: 100%;   
}

.main-header {
    background-color:rgb(134, 31, 31);
    padding: 20px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: pink;
    
}


.main-nav {
    background-color: rgb(204, 57, 81);
    padding: 20px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px rgb(17, 1, 4);
    font-size: 20px;   
}
.main-nav > ul {
    height: 50px;
    width: 500px;
    margin: 0px auto;
}
.main-nav > ul > li {
    list-style-type: none;
    width: 150px;
    float: left;
    border: 1px solid rgb(134, 31, 31);
    text-align: center;
    
}

.main-nav >ul >li > a {
    text-decoration: none;
    color:pink;
    line-height: 50px;
    display: block;
    
}

.main-nav >ul >li > a:hover {
    background-color: pink;
    color:rgb(134, 31, 31);  
    box-shadow: 10px 10px 10px rgb(17, 1, 4);
    
} 

.main-section {
    background-color: rgb(204, 57, 81);
    padding: 20px;
    height: 200px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: pink;
    box-shadow: 10px 10px 10px rgb(17, 1, 4);
} 

.left-section {
    height: 950px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgb(243, 120, 141);
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 30px;
}

.right-quote {
    background-color:white;
    width: 100%;
    float: right;
    height: 10%;
    border: 1px solid rgb(204, 57, 81);
    border-radius: 15px;
    box-shadow: 5px 10px rgb(243, 120, 141);
    font-size: 15px; 
    color: rgb(243, 120, 141);
    text-align: center;
    padding: 30px;
} 

.main-article {   
        background-color:rgb(243, 120, 141);
        width: 100%;
        float: right;
        height: 10%;
        border: 1px solid white;
        border-radius: 15px;
        font-size: 20px; 
        color: white;
        text-align: center;
        margin: 20px;
        padding: 30px;
        box-shadow: 10px 10px 10px rgb(17, 1, 4);
}

.fa {
    color:rgb(204, 57, 81);
}
footer {
    background-color:rgb(134, 31, 31);
    padding: 10px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: pink;
    margin: 10px;
}
.carousel {
    width: 25%;
    height: auto; 
}

.col-2 {
    border: 3px solid pink;
    border-radius: 4px;
    padding: 5px;
    width: 160px;
    margin-bottom: 15px;
  }
  
  .col-2 :hover {
    box-shadow: 0 0 2px 1px white;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 99;
  }

  .video-1 {
      padding: 10px;
      margin-bottom: 40px;
  }

  .youtube {
      text-align: center;
  }

  @media (min-width: 576px) { 
    body {
       /* background-color: blue; */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body {
        /* background-color: green; */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body {
        /*background-color: black; */
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        /* background-color: yellow; */
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    body {
       /* background-color: grey; */
    }
}