
html, body {
    height: 100%;   
}

.main-header {
    background-color:rgb(134, 31, 31);
    padding: 20px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: pink;
}

.main-nav {
    background-color: rgb(204, 57, 81);
    padding: 20px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    margin-bottom: 10px;
  
    
}
.main-nav > ul {
    height: 50px;
    width: 500px;
    margin: 0px auto;
}
.main-nav > ul > li {
    list-style-type: none;
    width: 150px;
    float: left;
    border: 1px solid rgb(134, 31, 31);
    text-align: center;
}
.main-nav >ul >li > a {
    text-decoration: none;
    color:pink;
    line-height: 50px;
    display: block;
}
.main-nav >ul >li > a:hover {
    background-color: pink;
    color:rgb(134, 31, 31);   
}



.bootstrap-frm {
	margin-left:auto;
	margin-right:auto;

    max-width: 500px;
    background: rgb(134, 31, 31);
    padding: 20px 30px 20px 30px;
    font: 14px "Calibri";
    color: pink;
    text-shadow: 1px 1px 1px rgb(20, 1, 5);
    border:1px solid #DDD;
    border-radius: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.bootstrap-frm h1 {
    font: 30px "Calibri";
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid pink;
    margin: -10px -30px 30px -30px;
    color: pink;
}
.bootstrap-frm h1>span {
    display: block;
    font-size: 11px;
}
.bootstrap-frm label {
    display: block;
    margin: 0px 0px 5px;
}
.bootstrap-frm label>span {
    float: left;
	width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: pink;
    font-family: "Calibri";
    font-weight: bold;
}
.bootstrap-frm input[type="text"], .bootstrap-frm input[type="artist"], .bootstrap-frm textarea, .bootstrap-frm select{
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
	line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: pink;
}
.bootstrap-frm select {
    background: pink url('down-arrow.png') no-repeat right;
    background: pink url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
	line-height:15px;
}
.bootstrap-frm textarea{
    height:100px;
	padding: 5px 0px 0px 5px;
	width: 70%;
    background-color: pink;
}
.bootstrap-frm .button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}
.bootstrap-frm .button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}

.fa {
    color:rgb(204, 57, 81);
}
footer {
    background-color:rgb(134, 31, 31);
    padding: 10px;
    border: 1px solid rgb(134, 31, 31);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: pink;
    margin: 20px;
}